<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mayito-first-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/57c6bf05-7628-4dcb-a570-52fbd5159c4c/resourceGroups/mayito2_rg/providers/Microsoft.Web/sites/mayito-first-function</ResourceId>
    <UserName>$mayito-first-function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mayito-first-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>